<!DOCTYPE html>
<html lang="en" dir ="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<title>Korean Culture Club</title>
	</head>
	<body>
		<section>
			{{page.navBar}}
			<div class="menu">
				<div class="logo"></div>
				<ul>
					<a href="#"><li>Home</li></a>
					<a href="#"><li>About</li></a>
					<a href="#"><li>Contact</li></a>
				</ul>
			</div>
		</section>
		<section>
			{{page.land}}
			<div class="tint"></div>
			<div class="land">
				<div class="heading">
					Korean Culture Club
				</div>
				<div class="line"></div>
				<div class="status">
					 Bringing Korean culture to California State University, San Bernardino
				</div>
			</div>
		</section>
		<br><br><br>
		<section>
			{{page.article}}
			<div class="thefirst">
				<div class="article">
					<h1>Welcome</h1>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
				</div>
			</div>
		</section>
		<br><br><br>
		{{page.footer}}
		<footer>
			Powered by Drupal
		</footer>
	</body>
</html>